@use "../../styles/index.scss" as *;
#main {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  #input-section {
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 2rem 0;
    gap: 0.5rem;

    input {
      padding: 0.2rem;
      border-radius: 0.5rem;
      outline: none;
      border: 1px solid grey;
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
      width: 100%;
      max-width: 500px;
    }
    button {
      font-weight: 700;
      background-color: #333333;
      border-radius: 0.5rem;
      transition: background-color ease 125ms;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
        background-color: #000000;
      }
      img {
        height: 2rem;
      }
      p {
        color: white;
        padding: 0.5rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        font-size: 1.1rem;
      }
      @media (max-width: 450px) {
        p {
          display: none;
        }
      }
    }
  }

  #ingredients {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    #ingredientsList {
      display: flex;
      flex-direction: column;

      li {
        list-style-position: outside;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        width: 90%;
        margin-left: 2rem;
        #li-btn-container {
          display: flex;
          gap: 2rem;
          span {
            width: 80%;
            word-break: break-all;
          }

          button {
            border: none;
            background-color: transparent;
            color: red;
            display: none;
            font-weight: 900;
            font-size: 1.2rem;
            flex-shrink: 0;
            text-align: center;
            transition: background-color ease 350ms;
            &:hover {
              cursor: pointer;
            }
          }
        }
        &:hover {
          #li-btn-container {
            button {
              display: block;
            }
          }
        }
      }
    }
  }
}
